@charset "UTF-8";
body {
  min-width: 1000px;
  background: #e4e9ef;
}

.top, .top1 {
  width: 100%;
  height: 622px;
  background-image: url('../images/imgbgstop.jpg?1405904478');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.top1 {
  height: 288px;
  background-image: url('../images/imgbgstop01.jpg?1405922087');
}

.nav {
  width: 100%;
  height: 42px;
  background-image: url('../images/bgnav01.jpg?1405903455');
  -webkit-box-shadow: 0 5px 5px rgba(4, 0, 0, 0.26);
  -moz-box-shadow: 0 5px 5px rgba(4, 0, 0, 0.26);
  box-shadow: 0 5px 5px rgba(4, 0, 0, 0.26);
}

.banner {
  width: 100%;
  height: 463px;
  overflow: hidden;
}

.main {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.main-1, .main-2 {
  width: 100%;
  overflow: hidden;
}

.main-1-r {
  float: right;
  width: 435px;
  overflow: hidden;
}

.main-1-l {
  float: left;
  width: 553px;
  height: 263px;
  background-color: #1b4a7d;
  margin-top: 13px;
  position: relative;
  overflow: hidden;
}

.main-2 {
  padding-top: 12px;
}

.main-2-r {
  float: right;
  width: 326px;
  overflow: hidden;
}

.main-2-l {
  float: left;
  width: 662px;
  overflow: hidden;
}

.footer {
  width: 100%;
  overflow: hidden;
  background: #00305e;
  margin-top: 20px;
}

.footer-nav {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.cur-Column {
  width: 1000px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 24px;
  color: #ab1520;
  line-height: 40px;
  padding-top: 40px;
}

.position {
  width: 1000px;
  margin: 0 auto;
}

.in-main {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

.in-main-1, .in-main-2 {
  overflow: hidden;
}

.in-main-2 {
  margin-top: 20px;
}

.in-main-r {
  float: right;
  width: 720px;
  padding: 0 30px;
  min-height: 500px;
  _height: expression(this.scrollHeight < 500 ? "500px" : "auto");
  background: #fff;
}

.in-main-l {
  background: #fff;
  float: left;
  width: 220px;
}

.g-n-l {
  float: left;
  width: 360px;
  height: 262px;
  overflow: hidden;
  position: relative;
}

.header {
  width: 1000px;
  height: 117px;
  margin: 0 auto;
}
.header .logo {
  float: left;
  width: 500px;
  height: 117px;
}
.header .search {
  float: right;
  width: 235px;
}

.site-map {
  width: 100%;
  height: 60px;
  line-height: 60px;
}
.site-map a {
  float: right;
  width: 78px;
  text-align: right;
  color: rgba(255, 255, 255, 0.3);
  color: #5e90b7\0;
  *color: #5e90b7;
}

.search-form {
  height: 35px;
  background-image: url('../images/bgsearch.png?1405903455');
  padding-left: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

input[name="Keyword"] {
  float: left;
  width: 186px;
  border: 0;
  line-height: 34px;
  height: 34px;
  color: #bfbebe;
  background: transparent;
}

input[name="search-btn"] {
  float: left;
  width: 16px;
  height: 16px;
  background-image: url('../images/iconsearch.png?1405903455');
  background-color: #fff;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

.in-nav {
  width: 1000px;
  margin: 0 auto;
  height: 42px;
}
.in-nav li {
  width: 100px;
  float: left;
}
.in-nav li a {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 42px;
  color: #fff;
  background-image: url('../images/bgnavlink.jpg?1405903455');
}
.in-nav li a:hover {
  background-image: url('../images/bgnavhover.jpg?1405903455');
}

.T {
  width: 100%;
  height: 44px;
  overflow: hidden;
  margin-top: 13px;
}

.T a {
  width: 121px;
  height: 44px;
  float: left;
  text-align: center;
  display: inline-block;
  background-image: url('../images/tabalink.jpg?1405903455');
  font: bold 15px/44px "微软雅黑", "Microsoft YaHei", "宋体", "SimSun", "黑体", "SimHei";
  color: #1b4a7d;
}

.T a#ooxx {
  width: 124px;
  background-image: url('../images/tabalink1.jpg?1405903455');
}

.T a:hover {
  background-image: url('../images/tabahover.jpg?1405903455');
}

.T a#ooxx:hover {
  background-image: url('../images/tabahover1.jpg?1405903455');
}

.T a.index_tabshover:link,
.T a.index_tabshover:visited,
.T a.index_tabshover:hover,
.T a.index_tabshover:active {
  width: 121px;
  height: 44px;
  float: left;
  text-align: center;
  display: inline-block;
  background-image: url('../images/tabahover.jpg?1405903455');
  font: bold 15px/44px "微软雅黑", "Microsoft YaHei", "宋体", "SimSun", "黑体", "SimHei";
  color: #fff;
}

.T a.index_tabshover#ooxx:link,
.T a.index_tabshover#ooxx:visited,
.T a.index_tabshover#ooxx:hover,
.T a.index_tabshover#ooxx:active {
  width: 124px;
  height: 44px;
  text-align: center;
  float: left;
  display: inline-block;
  background-image: url('../images/tabahover1.jpg?1405903455');
  font: bold 15px/44px "微软雅黑", "Microsoft YaHei", "宋体", "SimSun", "黑体", "SimHei";
  color: #fff;
}

.T span {
  float: right;
  width: 69px;
  line-height: 44px;
  text-align: center;
  background-image: url('../images/bgtabmore.jpg?1405903455');
}

.T span a:link, .T span a:visited, .T span a:hover, .T span a:active {
  color: #5694d4;
  width: 69px;
  line-height: 44px;
  text-align: center;
  background: none;
  font-size: 12px;
  font: normal;
  color: #00305e;
}

.cnvp-tabs-hide {
  display: none;
}

.C {
  width: 391px;
  height: 219px;
  overflow: hidden;
  padding: 0 20px 0 24px;
  -webkit-box-shadow: 0px 0px 10px #cccccc;
  -moz-box-shadow: 0px 0px 10px #cccccc;
  box-shadow: 0px 0px 10px #cccccc;
  background: #fff;
}

.C ul {
  padding-top: 15px;
}
.C ul li {
  width: 100%;
  float: left;
  overflow: hidden;
}
.C ul li a {
  display: block;
  line-height: 23px;
  background-image: url('../images/bgnewslink.png?1405903455');
  background-repeat: no-repeat;
  background-position: 0 8px;
  padding-left: 16px;
  color: #5e6872;
}
.C ul li a:hover {
  color: #1b4a7d;
  background-image: url('../images/bgnews1.png?1405903455');
}
.C ul li a span {
  display: block;
}

.news-time {
  color: rgba(27, 74, 125, 0.6);
  color: #7692b1\0;
  *color: #7692b1;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 9 span;
  z-index-position: absolute;
  z-index-left: 50%;
  z-index-top: 42%;
  z-index-width: 24px;
  z-index-height: 24px;
  z-index-margin-top: -22px;
  z-index-margin-left: -22px;
  z-index-padding: 10px;
  z-index-background: black url(../images/loading.gif) center center no-repeat;
  z-index-z-index: 21;
  z-index-border-radius: 5px;
  z-index-filter: alpha(opacity=80);
  z-index-opacity: .8;
}

.i-news-list {
  width: 325px;
  float: left;
}
.i-news-list .C {
  width: 281px;
  height: 226px;
}
.i-news-list .C ul {
  padding-top: 20px;
}
.i-news-list h2 {
  height: 45px;
  line-height: 45px;
  background-image: url('../images/imgnewsh2.jpg?1405903455');
}

.more {
  float: right;
  padding-right: 16px;
  font-weight: normal;
  font-size: 12px;
}
.more a {
  color: #00305e;
}

.colname {
  float: left;
  font: bold 15px/45px "微软雅黑", "Microsoft YaHei", "宋体", "SimSun", "黑体", "SimHei";
  color: #1b4a7d;
  width: 124px;
  text-align: center;
}

.sban {
  margin-bottom: 12px;
}

.footer-nav ul {
  width: 900px;
  float: left;
  overflow: hidden;
  padding-top: 20px;
}
.footer-nav ul li {
  float: left;
  width: 100px;
  text-align: left;
}
.footer-nav ul li a {
  display: block;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.3);
  color: #4c6e8e\0;
  *color: #4c6e8e;
}
.footer-nav ul li a.first-col {
  font-size: 15px;
  color: #fff;
  font-weight: bold;
}

.qrc {
  float: right;
  width: 100px;
  text-align: right;
  padding-top: 30px;
}

.footer-cnt {
  width: 1000px;
  margin: 0 auto;
  height: 64px;
  border-top: 1px solid #1d456b;
  line-height: 64px;
}
.footer-cnt span.tec {
  float: right;
  color: rgba(255, 255, 255, 0.3);
  color: #4c6e8e\0;
  *color: #4c6e8e;
}
.footer-cnt span.tec a {
  color: rgba(255, 255, 255, 0.3);
  color: #4c6e8e\0;
  *color: #4c6e8e;
}
.footer-cnt span.copy {
  float: left;
  font-family: verdana;
  color: rgba(255, 255, 255, 0.3);
  color: #4c6e8e\0;
  *color: #4c6e8e;
}

.scientific {
  text-align: right;
  width: 1000px;
  margin: 0 auto;
  padding: 98px 0 221px 0;
}

.notice {
  width: 1000px;
  margin: 0 auto;
  height: 45px;
  background-image: url('../images/bgnotice01.png?1405905823');
  line-height: 45px;
}
.notice h2 {
  padding-left: 42px;
  background-image: url('../images/bgnotice02.png?1405905924');
  width: 65px;
  color: #fff;
  font-size: 15px;
  float: left;
}

.share {
  float: right;
  color: #717171;
  font-size: 12px;
  width: 120px;
}

.in-position {
  float: left;
  padding-left: 26px;
  line-height: 30px;
  background-image: url('../images/iconHome.png?1405922807');
  background-repeat: no-repeat;
  background-position: 4px center;
  color: #707070;
}

.manager {
  width: 661px;
  float: right;
  overflow: hidden;
}

.mana-h2 {
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-image: url('../images/bgmanah2.png?1405925753');
}

.mana-list {
  background: #fff;
  height: 270px;
  width: 100%;
  overflow: hidden;
}
.mana-list dl {
  width: 298px;
  padding-right: 10px;
  padding-left: 22px;
  float: left;
  margin-top: 24px;
}
.mana-list dl dt {
  float: right;
  width: 194px;
  font-weight: bold;
  font-size: 14px;
  color: #1b4a7d;
}
.mana-list dl dd.pic {
  float: left;
}
.mana-list dl dd.pic img {
  width: 82px;
  height: 100px;
}
.mana-list dl dd.txt {
  float: right;
  width: 194px;
  color: #5e6872;
  line-height: 22px;
}

.intro, .history {
  float: left;
  width: 325px;
  overflow: hidden;
}
.intro div, .history div {
  padding: 22px;
  height: 226px;
  background: #fff;
}

.intro-h2 {
  height: 45px;
  line-height: 45px;
  background-image: url('../images/imgnewsh2.jpg?1405903455');
}

.history div {
  padding: 22px;
  height: 324px;
  background: #fff;
}
.history div i {
  font-style: normal;
  color: red;
}

.leader-list {
  background: #fff;
  height: 498px;
  padding: 0 22px;
  overflow: hidden;
}
.leader-list dl {
  float: left;
  margin-top: 24px;
}
.leader-list dl dt {
  float: right;
  width: 404px;
  font-weight: bold;
  font-size: 14px;
  color: #1b4a7d;
}
.leader-list dl dt a {
  color: #1b4a7d;
}
.leader-list dl dd.pic {
  float: left;
  width: 188px;
  height: 130px;
}
.leader-list dl dd.pic img {
  width: 188px;
  height: 130px;
}
.leader-list dl dd.txt {
  float: right;
  width: 404px;
  color: #5e6872;
  line-height: 22px;
}
.leader-list dl dd.txt a {
  display: block;
  color: #ab1520;
  line-height: 40px;
}

.bgsite {
  background-image: url('../images/bgsite02.jpg?1405928715');
  background-repeat: repeat-y;
}

.main-r-h2 {
  width: 100%;
  border-bottom: 1px solid #eff0f1;
  font-size: 24px;
  font-weight: bold;
  color: #1b4a7d;
  line-height: 58px;
  padding-top: 16px;
}

.single-cnt {
  padding: 15px 0;
  font-size: 14px;
  line-height: 26px;
  color: #5e6872;
}

.column {
  width: 180px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 20px;
}
.column ul {
  overflow: hidden;
}
.column ul li {
  float: left;
  height: 56px;
  font-size: 15px;
  font-weight: bold;
}
.column ul li a {
  padding-left: 14px;
  width: 166px;
  height: 56px;
  line-height: 56px;
  display: block;
}
.column ul li a:link, .column ul li a:visited {
  background-image: url('../images/bgcolumnlink.jpg?1405929226');
  color: #5e6872;
}
.column ul li a:hover, .column ul li a:active {
  background-image: url('../images/bgcolumnhover.jpg?1405929226');
  color: #fff;
}
.column ul li.hover a {
  background-image: url('../images/bgcolumnhover.jpg?1405929226');
  color: #fff;
}

.news-list {
  width: 100%;
  overflow: hidden;
}
.news-list dl {
  height: 130px;
  padding: 20px 0;
  border-bottom: 1px solid #eff0f1;
}
.news-list dl dt {
  width: 510px;
  line-height: 36px;
  font-size: 14px;
  font-weight: bold;
  float: right;
}
.news-list dl dt a {
  color: #1b4a7d;
}
.news-list dl dd.pic {
  width: 188px;
  height: 128px;
  float: left;
}
.news-list dl dd.pic img {
  width: 188px;
  height: 128px;
}
.news-list dl dd.txt {
  width: 510px;
  line-height: 22px;
  color: #7d8894;
  float: right;
}
.news-list dl dd.txt a {
  display: block;
  color: #ab1520;
}
.news-list ul {
  padding: 10px 0;
  overflow: hidden;
}
.news-list ul li {
  float: left;
  height: 40px;
  font-size: 14px;
}
.news-list ul li a {
  display: block;
  padding-left: 20px;
  background-image: url('../images/bgnewslink.png?1405903455');
  background-repeat: no-repeat;
  background-position: 0 8px;
  padding-left: 16px;
  color: #5e6872;
  width: 700px;
}
.news-list ul li a:hover {
  color: #1b4a7d;
  background-image: url('../images/bgnews1.png?1405903455');
}
.news-list ul li a span {
  float: right;
  color: #93a2b8;
}

.focus-h2 {
  width: 1000px;
  margin: 0 auto;
  background-image: url('../images/bgfocush2.png?1405934173');
  height: 45px;
  line-height: 45px;
}

.group-news {
  padding: 27px 22px 0 22px;
  width: 956px;
  height: 292px;
  background: #fff;
}

.g-n-r {
  width: 576px;
  float: right;
}
.g-n-r dl {
  height: 90px;
  border-bottom: 1px solid #ebedee;
}
.g-n-r dl dt {
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
}
.g-n-r dl dt a {
  color: #ab1520;
}
.g-n-r dl dd {
  color: #77828e;
  line-height: 22px;
}
.g-n-r ul {
  overflow: hidden;
  padding-top: 15px;
}

.g-n-l {
  width: 360px;
  float: left;
}

.list {
  float: left;
  height: 28px;
  font-size: 12px;
}
.list a {
  display: block;
  line-height: 28px;
  background-image: url('../images/bgnewslink.png?1405903455');
  background-repeat: no-repeat;
  background-position: 0 8px;
  padding-left: 16px;
  width: 560px;
  color: #5e6872;
}
.list a:hover {
  color: #1b4a7d;
  background-image: url('../images/bgnews1.png?1405903455');
}
.list a span {
  float: right;
}

.focus-h2 {
  width: 100%;
  background-image: url('../images/bgfocustoph2.png?1405992498');
  height: 45px;
}

.focus-news {
  float: left;
  width: 490px;
  height: 244px;
  background: #fff;
  margin-bottom: 20px;
}
.focus-news ul {
  padding: 15px;
}
.focus-news ul li {
  width: 460px;
}
.focus-news ul li a {
  width: 440px;
}

.in-main-3 ul {
  background: #fff;
  padding: 25px 0 0 4px;
  height: 175px;
}
.in-main-3 ul li {
  float: left;
  margin-left: 16px;
  width: 180px;
  line-height: 40px;
  text-align: center;
}

.map {
  padding: 25px;
  width: 950px;
  height: 350px;
  background: #fff;
  overflow: hidden;
}

.guestbook {
  float: right;
  width: 590px;
  height: 358px;
  background: #fff;
}

.contact {
  float: left;
  width: 400px;
  height: 358px;
  background: #fff;
}
.contact h3 {
  font-size: 16px;
  font-weight: bold;
  color: #ab1520;
  padding-left: 26px;
  line-height: 30px;
  padding-top: 20px;
}
.contact p {
  padding: 0 25px;
  font-size: 14px;
  line-height: 28px;
}

.study {
  float: right;
  width: 400px;
  height: 354px;
  background: #fff;
}
.study ul {
  padding: 15px 20px;
}
.study ul li {
  width: 360px;
}
.study ul li a {
  width: 340px;
  background-position: 0 10px;
}

.activity {
  float: left;
  width: 590px;
  height: 354px;
  background: #fff;
}
.activity dl {
  width: 546px;
  height: 66px;
  padding: 17px 0;
  margin: 0 auto;
  border-bottom: 1px solid #e5e9ee;
}
.activity dl dt {
  float: right;
  width: 430px;
  line-height: 30px;
  color: #a0a0a0;
}
.activity dl dt a {
  color: #1b4a7d;
  font-weight: bold;
}
.activity dl dd.pic {
  float: left;
  width: 100px;
  height: 66px;
}
.activity dl dd.pic img {
  width: 100px;
  height: 66px;
}
.activity dl dd.txt {
  color: #888;
  line-height: 20px;
  width: 430px;
  float: right;
}

.show-news {
  width: 950px;
  padding: 25px;
  overflow: hidden;
  min-height: 600px;
  _height: expression(this.scrollHeight < 600 ? "600px" : "auto");
  background: #fff;
}
.show-news h1 {
  color: #1b4a7d;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  padding-bottom: 10px;
}
.show-news h2 {
  text-align: center;
  color: #93a2b8;
  line-height: 30px;
  border-bottom: 1px solid #eff0f1;
  font-size: 14px;
  padding-bottom: 10px;
}

.news-cnt {
  font-size: 14px;
  color: #5e6872;
  line-height: 26px;
  padding: 15px 0;
  overflow: hidden;
}

.show-next {
  margin-top: 20px;
  border-top: 1px solid #eff0f1;
  color: #1b4a7d;
  position: relative;
}

.print {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 46px;
}
.print i {
  font-style: normal;
}

#close a {
  color: #1b4a7d;
}

#print a {
  color: #d30000;
}

.video-list {
  width: 100%;
  overflow: hidden;
}
.video-list ul {
  width: 750px;
  overflow: hidden;
  padding-top: 20px;
}
.video-list ul li {
  width: 220px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 207px;
  line-height: 56px;
  float: left;
  margin-right: 30px;
  text-align: center;
}
.video-list ul li span {
  display: block;
}

.shade {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background-image: url('../images/bgvideoli.png?1406010137');
  display: none;
  width: 220px;
  height: 150px;
}
