@charset "utf-8";

.header {
	width: 1000px;
	height: 117px;
	margin: 0 auto;
	.logo {
		float: left;
		width: 500px;
		height: 117px;
	}
	.search {
		float: right;
		width: 235px;
	}
}
.site-map {
	width: 100%;
	height: 60px;
	line-height: 60px;
	a {
		float: right;
		width: 78px;
		text-align: right;
		@include semi-transparent-colors("color",rgba(white,.3),#196199);
		//bgcolor-alpha($bgcolor: rgba(255,255,255,.3))
	}
}
.search-form {
	height: 35px;
	//@include box-shadow(inset 0 5px 7px rgba(4,4,4,.31));
	background-image: image-url('bgsearch.png');
	padding-left: 20px;
	@include border-radius(10px);
}
input[name="Keyword"] {
	float: left;
	width: 186px;
	border: 0;
	line-height: 34px;
	height: 34px;
	color: #bfbebe;
	background: transparent;
}
input[name="search-btn"] {
	float: left;
	width: 16px;
	height: 16px;
	background-image: image-url('iconsearch.png');
	background-color: #fff;
	cursor: pointer;
	border: none;
	margin-top: 10px;
}
//导航
.in-nav {
	width: 1000px;
	margin: 0 auto;
	height: 42px;
	li {
		width: 100px;
		float: left;
		a {
			display: block;
			width: 100%;
			text-align: center;
			line-height: 42px;
			color: #fff;
			background-image: image-url('bgnavlink.jpg');
			&:hover {
				background-image: image-url('bgnavhover.jpg');
			}
		}
	}
}
.T {
	width: 100%;
	height: 44px;
	overflow: hidden;
	margin-top: 13px;
}
.T a {
	width: 121px;
	height: 44px;
	float: left;
	text-align: center;
	display: inline-block;
	background-image: image-url('tabalink.jpg');
	font: bold 15px/44px $font1;
	color: #1b4a7d;
}
.T a#ooxx {
    width: 124px;
    background-image: image-url('tabalink1.jpg');
}
.T a:hover {
	background-image: image-url('tabahover.jpg');
}
.T a#ooxx:hover {
	background-image: image-url('tabahover1.jpg');
}
.T a.index_tabshover:link,
.T a.index_tabshover:visited,
.T a.index_tabshover:hover,
.T a.index_tabshover:active {
    width: 121px;
    height: 44px;
    float: left;
    text-align: center;
    display: inline-block;
    background-image: image-url('tabahover.jpg');
    font: bold 15px/44px $font1;
    color: #fff;
}
.T a.index_tabshover#ooxx:link,
.T a.index_tabshover#ooxx:visited,
.T a.index_tabshover#ooxx:hover,
.T a.index_tabshover#ooxx:active {
    width: 124px;
    height: 44px;
    text-align: center;
    float: left;
    display: inline-block;
    background-image: image-url('tabahover1.jpg');
    font: bold 15px/44px $font1;
    color: #fff;
}
.T span {
    float: right;
    width: 69px;
    line-height: 44px;
    text-align: center;
    background-image: image-url('bgtabmore.jpg');
}
.T span a:link,.T span a:visited,.T span a:hover,.T span a:active {
    color: #5694d4;
    width: 69px;
    line-height: 44px;
    text-align: center;
    background: none;
    font-size: 12px;
    font: normal;
    color: #00305e;
}
.cnvp-tabs-hide {
  display: none;
}
.C {
  width: 391px;
  height: 219px;
  overflow: hidden;
  padding: 0 20px 0 24px;
  @include box-shadow(0px 0px 10px #ccc);
  background: #fff;
}
.C ul {
    padding-top: 15px;
    li {
    	width: 100%;
    	float: left;
    	overflow: hidden;
    	a {
			display: block;
			line-height: 23px;
			background-image: image-url('bgnewslink.png');
			background-repeat: no-repeat;
			background-position: 0 8px;
			padding-left: 16px;
			color: #5e6872;
			&:hover {
				color: #1b4a7d;
				background-image: image-url('bgnews1.png');
			}
			span {
				display: block;
			}
    	}
    }
}
.news-time {
	@include semi-transparent-colors("color",rgba(27,74,125,.6),#fff);
}
.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 9
    span {
    	position: absolute;
	    left: 50%;
	    top: 42%;
	    width: 24px;
	    height: 24px;
	    margin-top: -22px;
	    margin-left: -22px;
	    padding: 10px;
	    background: #000 url(../images/loading.gif) center center no-repeat;
	    z-index: 21;
	    border-radius: 5px;
	    filter: alpha(opacity=80);
	    opacity: .8;
    }
}
.i-news-list {
	width: 325px;
	float: left;
	.C {
		width: 281px; height: 226px;
		ul {
			padding-top: 20px;
		}
	}
	h2 {
		height: 45px;
		line-height: 45px;
		background-image: image-url('imgnewsh2.jpg');
	}
}
.more {
	float: right;
	padding-right: 16px;
	font-weight: normal;
	font-size: 12px;
	a {
		color: #00305e;
	}
}
.colname {
	float: left;
	font: bold 15px/45px $font1;
	color: #1b4a7d;
	width: 124px;
	text-align: center;
}
.sban {
	margin-bottom: 12px
}
.footer-nav {
	ul {
		width: 900px;
		float: left;
		overflow: hidden;
		padding-top: 20px;
		li {
			float: left;
			width: 100px;
			text-align: left;
			a {
				display: block;
				line-height: 30px;
				@include semi-transparent-colors("color",rgba(white,.3),#00305e);
			}
			a.first-col {
				font-size: 15px;
				color: #fff;
				font-weight: bold;
			}
		}
	}
}
.qrc {
	float: right;
	width: 100px;
	text-align: right;
	padding-top: 30px;
}
.footer-cnt {
	width: 1000px;
	margin: 0 auto;
	height: 64px;
	border-top: 1px solid #1d456b;
	line-height: 64px;
	span.tec {
		float: right;
		@include semi-transparent-colors("color",rgba(white,.3),#00305e);
		a {
			@include semi-transparent-colors("color",rgba(white,.3),#00305e);
		}
	}
	span.copy {
		float: left;
		font-family: verdana;
		@include semi-transparent-colors("color",rgba(white,.3),#00305e);
	}
}
.scientific {
	text-align: right;
	width: 1000px;
	margin: 0 auto;
	padding: 98px 0 221px 0;
}
.notice {
	width: 1000px;
	margin: 0 auto;
	height: 45px;
	background-image: image-url('bgnotice01.png');
	line-height: 45px;
	h2 {
		padding-left: 42px;
		background-image: image-url('bgnotice02.png');
		width: 65px;
		color: #fff;
		font-size: 15px;
		float: left;
	}
}
.share {
	float: right;
	color: #717171;
	font-size: 12px;
	width: 120px;
}
.in-position {
	float: left;
	padding-left: 26px;
	line-height: 30px;
	background-image: image-url('iconHome.png');
	background-repeat: no-repeat;
	background-position: 4px center;
	color: #707070;
}
.manager {
	width: 661px;
	float: right;
	overflow: hidden;
}
.mana-h2 {
	width: 100%;
	height: 45px;
	line-height: 45px;
	background-image: image-url('bgmanah2.png');
}
.mana-list {
	background: #fff;
	height: 270px;
	width: 100%;
	overflow: hidden;
	dl {
		width: 298px;
		padding-right: 10px;
		padding-left: 22px;
		float: left;
		margin-top: 24px;
		dt {
			float: right;
			width: 194px;
			font-weight: bold;
			font-size: 14px;
			color: #1b4a7d;
		}
		dd.pic {
			float: left;
			img {
				width: 82px;
				height: 100px;
			}
		}
		dd.txt {
			float: right;
			width: 194px;
			color: #5e6872;
			line-height: 22px;
		}
	}
}
.intro {
	float: left;
	width: 325px;
	overflow: hidden;
	div {
		padding: 22px;
		height: 226px;
		background: #fff;
	}
}
.intro-h2 {
	height: 45px;
	line-height: 45px;
	background-image: image-url('imgnewsh2.jpg');
}
.history {
	@extend .intro;
	div {
		padding: 22px;
		height: 324px;
		background: #fff;
		i {
			font-style: normal;
			color: red;
		}
	}
}
.leader-list {
	background: #fff;
	height: 498px;
	padding: 0 22px;
	overflow: hidden;
	dl {
		float: left;
		margin-top: 24px;
		dt {
			float: right;
			width: 404px;
			font-weight: bold;
			font-size: 14px;
			color: #1b4a7d;
			a {
				color: #1b4a7d;
			}
		}
		dd.pic {
			float: left;
			width: 188px;
			height: 130px;
			img {
				width: 188px;
				height: 130px;
			}
		}
		dd.txt {
			float: right;
			width: 404px;
			color: #5e6872;
			line-height: 22px;
			a {
				display: block;
				color: #ab1520;
				line-height: 40px;
			}
		}
	}
}
.bgsite {
	background-image: image-url('bgsite02.jpg');
	background-repeat: repeat-y;
}
.main-r-h2 {
	width: 100%;
	border-bottom: 1px solid #eff0f1;
	font-size: 24px;
	font-weight: bold;
	color: #1b4a7d;
	line-height: 58px;
	padding-top: 16px;
}
.single-cnt {
	padding: 15px 0;
	font-size: 14px;
	line-height: 26px;
	color: #5e6872;
}
.column {
	width: 180px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 20px;
	ul {
		overflow: hidden;
		li {
			float: left;
			height: 56px;
			font-size: 15px;
			font-weight: bold;
			a {
				padding-left: 14px;
				width: 166px;
				height: 56px;
				line-height: 56px;
				display: block;
				&:link,&:visited {
					background-image: image-url('bgcolumnlink.jpg');
					color: #5e6872;
				}
				&:hover,&:active {
					background-image: image-url('bgcolumnhover.jpg');
					color: #fff;
				}
			}
		}
		li.hover a {
			background-image: image-url('bgcolumnhover.jpg');
			color: #fff;
		}
	}
}
.news-list {
	width: 100%;
	overflow: hidden;
	dl {
		height: 130px;
		padding: 20px 0;
		border-bottom: 1px solid #eff0f1;
		dt {
			width: 510px;
			line-height: 36px;
			font-size: 14px;
			font-weight: bold;
			float: right;
			a {
				color: $color2;
			}
		}
		dd.pic {
			width: 188px;
			height: 128px;
			float: left;
			img {
				width: 188px;
				height: 128px;
			}
		}
		dd.txt {
			width: 510px;
			line-height: 22px;
			color: #7d8894;
			float: right;
			a {
				display: block;
				color: #ab1520;
			}
		}
	}
	ul {
		padding: 10px 0;
		overflow: hidden;
		li {
			float: left;
			height: 40px;
			font-size: 14px;
			a {
				display: block;
				padding-left: 20px;
				background-image: image-url('bgnewslink.png');
				background-repeat: no-repeat;
				background-position: 0 8px;
				padding-left: 16px;
				color: #5e6872;
				width: 700px;
				&:hover {
					color: #1b4a7d;
					background-image: image-url('bgnews1.png');
				}
				span {
					float: right;
					color: #93a2b8;
				}
			}
		}
	}
}
.focus-h2 {
	@include w1000();
	background-image: image-url('bgfocush2.png');
	height: 45px;
	line-height: 45px;
}
.group-news {
	padding: 27px 22px 0 22px;
	width: 956px;
	height: 292px;
	background: #fff;
}
.g-n-r {
	width: 576px;
	float: right;
	dl {
		height: 90px;
		border-bottom: 1px solid #ebedee;
		dt {
			line-height: 36px;
			font-size: 16px;
			font-weight: bold;
			a {
				color: #ab1520;
			}
		}
		dd {
			color: #77828e;
			line-height: 22px;
		}
	}
	ul {
		overflow: hidden;
		padding-top: 15px;
	}
}
.g-n-l {
	width: 360px;
	float: left;
}
.list {
	float: left;
	height: 28px;
	font-size: 12px;
	a {
		display: block;
		line-height: 28px;
		background-image: image-url('bgnewslink.png');
		background-repeat: no-repeat;
		background-position: 0 8px;
		padding-left: 16px;
		width: 560px;
		color: #5e6872;
		&:hover {
			color: #1b4a7d;
			background-image: image-url('bgnews1.png');
		}
		span {
			float: right;
		}
	}
}
.focus-h2 {
	width: 100%;
	background-image: image-url('bgfocustoph2.png');
	height: 45px;
}
.focus-news {
	float: left;
	width: 490px;
	height: 244px;
	background: #fff;
	margin-bottom: 20px;
	ul {
		padding: 15px;
		li {
			width: 460px;
			a {
				width: 440px;
			}
		}
	}
}
.in-main-3 {
	ul {
		background: #fff;
		padding: 25px 0 0 4px;
		height: 175px;
		li {
			float: left;
			margin-left: 16px;
			width: 180px;
			line-height: 40px;
			text-align: center;
		}
	}
}
.map {
	padding: 25px;
	width: 950px;
	height: 350px;
	background: #fff;
	overflow: hidden;
}
.guestbook {
	float: right;
	width: 590px;
	height: 358px;
	background: #fff;
}
.contact {
	float: left;
	width: 400px;
	height: 358px;
	background: #fff;
	h3 {
		font-size: 16px;
		font-weight: bold;
		color: #ab1520;
		padding-left: 26px;
		line-height: 30px;
		padding-top: 20px;
	}
	p {
		padding: 0 25px;
		font-size: 14px;
		line-height: 28px;
	}
}
.study {
	float: right;
	width: 400px;
	height: 354px;
	background: #fff;
	ul {
		padding: 15px 20px;
		li {
			width: 360px;
			a {
				width: 340px;
				background-position: 0 10px;
			}
		}
	}
}
.activity {
	float: left;
	width: 590px;
	height: 354px;
	background: #fff;
	dl {
		width: 546px;
		height: 66px;
		padding: 17px 0;
		margin: 0 auto;
		border-bottom: 1px solid #e5e9ee;
		dt {
			float: right;
			width: 430px;
			line-height: 30px;
			color: #a0a0a0;
			a {
				color: #1b4a7d;
				font-weight: bold;
			}
		}
		dd.pic {
			float: left;
			width: 100px;
			height: 66px;
			img {
				width: 100px;
				height: 66px;
			}
		}
		dd.txt {
			color: #888;
			line-height: 20px;
			width: 430px;
			float: right;
		}
	}
}
.show-news {
	width: 950px;
	padding: 25px;
	overflow: hidden;
	min-height: 600px;
	_height:expression(this.scrollHeight < 600 ? "600px" : "auto");
	background: #fff;
	h1 {
	    color: #1b4a7d;
	    font-size: 24px;
	    text-align: center;
	    line-height: 40px;
	    padding-bottom: 10px;
	}
	h2 {
		text-align: center;
		color: #93a2b8;
		line-height: 30px;
		border-bottom: 1px solid #eff0f1;
		font-size: 14px;
		padding-bottom: 10px;
	}
}
.news-cnt {
	font-size: 14px;
	color: #5e6872;
	line-height: 26px;
	padding: 15px 0;
	overflow: hidden;
}
.show-next {
	margin-top: 20px;
	border-top: 1px solid #eff0f1;
	color: #1b4a7d;
	position: relative;
}
.print {
	position: absolute;
	right: 0;
	top: 0;
	line-height: 46px;
	i {
		font-style: normal;
	}
}
#close a {
	color: #1b4a7d;
}
#print a {
	color: #d30000;
}
.video-list {
	width: 100%;
	overflow: hidden;
	ul {
		width: 750px;
		overflow: hidden;
		padding-top: 20px;
		li {
			width: 220px;
			overflow: hidden;
			position: relative;
			z-index: 1;
			height: 207px;
			line-height: 56px;
			float: left;
			margin-right: 30px;
			text-align: center;
			span {
				display: block;
			}
		}
	}
}
.shade {
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background-image: image-url('bgvideoli.png');
	display: none;
	width: 220px;
	height: 150px;
}